In [8]:
import pandas as pd
import re
import operator

In [9]:
def fn_clean_data(s):
    s = s.lower() # making everything lower case
    s = re.sub('''[(),.!?:;\"'-]''', '', s)  # remove special characters
    s = re.sub(' +', ' ', s) # remove multiple spaces
    return s

def fn_getData():
    # Reading the data-
    reference_df = pd.read_csv('reference.csv')
    query_df = pd.read_csv('query.csv')
    query_df_orig = query_df
    
    # Concatenating the relevant columns-
    reference_df['ref_name'] = reference_df.apply(lambda x:'%s%s%s%s' % (x['name'],x['address'],x['city'],x['cuisine']),axis=1)
    reference_df['ref_name'] = reference_df['ref_name'].apply(lambda x: fn_clean_data(x))
    reference_df = reference_df[['id', 'ref_name']]
    
    query_df['query_name'] = query_df.apply(lambda x:'%s%s%s%s' % (x['name'],x['address'],x['city'],x['cuisine']),axis=1)
    query_df['query_name'] = query_df['query_name'].apply(lambda x: fn_clean_data(x))
    query_df = query_df[['id', 'query_name']]
    
    return reference_df, query_df, query_df_orig

reference_df, query_df, query_df_orig = fn_getData()

In [10]:
def fn_getSearchTokens(row):
    search_dict = {}
    search_id = row[0]
    search_name = row[1]
    
    token_dict = {}
    for token in search_name.split(' '):
        if token not in token_dict:
            token_dict[token] = 1
    
    search_dict[search_id] = token_dict
    
    return search_dict

query_search_arr = query_df.apply(lambda row: fn_getSearchTokens(row), axis = 1).values # returns an array for query_search

reference_search_arr = reference_df.apply(lambda row: fn_getSearchTokens(row), axis = 1).values # returns an array for ref search

In [11]:
def fn_computeSimilarity(query_search_arr, reference_search_arr):
    score_query_dict = {}
    for query in query_search_arr:
        for query_id, query_dict in query.items():
            score_ref_dict = {}
            for reference in reference_search_arr:
                for ref_id, ref_dict in reference.items():
                    total = 0.0
                    found = 0.0
                    score = 0.0
                    for k, v in query_dict.items():
                        total += 1
                        if k in ref_dict.keys():
                            found += 1
                    score = 100*(found / total)
                    score_ref_dict[ref_id] = score
            score_query_dict[query_id] = score_ref_dict
    return score_query_dict

score_query_dict = fn_computeSimilarity(query_search_arr, reference_search_arr)

In [12]:
def fn_matchRefId(row, item_match_dict):
    q_id = row[0]
    ref_item_score = item_match_dict[q_id]
    return ref_item_score[0]

def fn_matchRefScore(row, item_match_dict):
    q_id = row[0]
    ref_item_score = item_match_dict[q_id]
    return round(ref_item_score[1], 2)

def fnQueryRefMap(score_query_dict, query_df_orig):
    item_match_dict = {}
    for q_id, r_dict in score_query_dict.items():
        sorted_ref_tup = sorted(r_dict.items(), key=operator.itemgetter(1), reverse=True)
        item_match_dict[q_id] = sorted_ref_tup[0] # taking the top match
        
    query_df_orig['pred_ref_id'] = query_df_orig.apply(lambda row: fn_matchRefId(row, item_match_dict), axis = 1)
    query_df_orig['pred_ref_score'] = query_df_orig.apply(lambda row: fn_matchRefScore(row, item_match_dict), axis = 1)
    
    del query_df_orig['query_name']
    
    return query_df_orig

query_df_orig = fnQueryRefMap(score_query_dict, query_df_orig)

In [15]:
query_df_orig

,id,name,address,city,cuisine,pred_ref_id,pred_ref_score
0,1001,chanterelle,2 harrison st.,new york city,french (new),31,75.00
1,1002,daniel,20 e. 76th st.,new york city,french (new),32,88.89
2,1003,dawat,210 e. 58th st.,new york city,indian,33,77.78
3,1004,felidia,243 e. 58th st.,new york city,italian,34,88.89
4,1005,four seasons,99 e. 52nd st.,new york city,american (new),35,90.00
5,1006,gotham bar & grill,12 e. 12th st.,new york city,american (new),36,91.67
6,1007,gramercy tavern,42 e. 20th st.,new york city,american (new),37,90.00
7,1008,island spice,402 w. 44th st.,new york city,caribbean,38,90.00
8,1009,jo jo,160 e. 64th st.,new york city,french bistro,39,70.00
9,1010,la caravelle,33 w. 55th st.,new york city,french (classic),40,81.82
10,1011,la cote basque,60 w. 55th st.,new york city,french (classic),41,83.33
11,1012,le bernardin,155 w. 51st st.,new york city,seafood,42,80.00
12,1013,les celebrites,155 w. 58th st.,new york city,french (classic),780,63.64
13,1014,lespinasse (new york city),2 e. 55th st.,new york city,asian,44,77.78
14,1015,lutece,249 e. 50th st.,new york city,french (classic),45,80.00
15,1016,manhattan ocean club,57 w. 58th st.,new york city,seafood,46,90.91
16,1017,march,405 e. 58th st.,new york city,american (new),47,88.89
17,1018,mesa grill,102 fifth ave.,new york city,southwestern,48,66.67
18,1019,mi cocina,57 jane st.,new york city,mexican,49,88.89
19,1020,montrachet,239 w. broadway,new york city,french bistro,50,77.78
20,1021,oceana,55 e. 54th st.,new york city,seafood,51,88.89
21,1022,park avenue cafe (new york city),100 e. 63rd st.,new york city,american (new),52,90.91
22,1023,petrossian,182 w. 58th st.,new york city,russian,53,77.78
23,1024,picholine,35 w. 64th st.,new york city,mediterranean,54,88.89
24,1025,pisces,95 ave. a,new york city,seafood,55,87.50
25,1026,rainbow room,30 rockefeller plaza,new york city,american (new),56,88.89
26,1027,river cafe,1 water st.,brooklyn,american (new),57,87.50
27,1028,san domenico,240 central park s.,new york city,italian,58,90.00
28,1029,second avenue deli,156 second ave.,new york city,delis,59,77.78
29,1030,seryna,11 e. 53rd st.,new york city,japanese,60,77.78
...,...,...,...,...,...,...,...
52,1053,hedgerose heights inn the,490 e. paces ferry rd. ne,atlanta,continental,83,75.00
53,1054,heera of india,595 piedmont ave.,atlanta,indian,84,87.50
54,1055,indigo coastal grill,1397 n. highland ave.,atlanta,eclectic,85,88.89
55,1056,la grotta,2637 peachtree rd. ne,atlanta,italian,86,87.50
56,1057,mary mac's tea room,224 ponce de leon ave.,atlanta,southern/soul,87,90.91
57,1058,nikolai's roof,255 courtland st.,atlanta,continental,88,100.00
58,1059,pano's & paul's,1232 w. paces ferry rd.,atlanta,american (new),89,72.73
59,1060,ritz-carlton cafe (buckhead),3434 peachtree rd. ne,atlanta,american (new),90,70.00
60,1061,ritz-carlton dining room (buckhead),3434 peachtree rd. ne,atlanta,american (new),91,72.73
61,1062,ritz-carlton restaurant,181 peachtree st.,atlanta,french (classic),92,75.00
62,1063,toulouse,293-b peachtree rd.,atlanta,french (new),93,71.43
63,1064,veni vidi vici,41 14th st.,atlanta,italian,94,100.00
64,1065,alain rondelli,126 clement st.,san francisco,french (new),95,88.89
65,1066,aqua,252 california st.,san francisco,american (new),96,75.00
66,1067,boulevard,1 mission st.,san francisco,american (new),97,87.50
67,1068,cafe claude,7 claude ln.,san francisco,french bistro,98,75.00
68,1069,campton place,340 stockton st.,san francisco,american (new),99,88.89
69,1070,chez michel,804 north point st.,san francisco,californian,100,55.56
70,1071,fleur de lys,777 sutter st.,san francisco,french (new),101,90.00
71,1072,fringale,570 fourth st.,san francisco,french bistro,102,75.00
72,1073,hawthorne lane,22 hawthorne st.,san francisco,californian,103,85.71
73,1074,khan toke thai house,5937 geary blvd.,san francisco,thai,104,100.00
74,1075,la folie,2316 polk st.,san francisco,french (new),105,88.89
75,1076,lulu restaurant-bis-cafe,816 folsom st.,san francisco,mediterranean,106,87.50
76,1077,masa's,648 bush st.,san francisco,french (new),107,87.50
77,1078,mifune,1737 post st.,san francisco,japanese,108,85.71
78,1079,plumpjack cafe,3127 fillmore st.,san francisco,american (new),109,66.67
79,1080,postrio,545 post st.,san francisco,californian,110,85.71
80,1081,ritz-carlton dining room (san francisco),600 stockton st.,san francisco,french (new),111,80.00
81,1082,rose pistola,532 columbus ave.,san francisco,italian,112,100.00